<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="SitePath" value="https://localhost:44346"/>
	  <add key="DefautConnection" value= "Data Source=DESKTOP-68NB65O\SQLEXPRESS;Initial Catalog=db_Zyael;User Id=sa;Password=8892271680;"/>
	  <!--<add key="DefautConnection" value= "Data Source=DESKTOP-3DUQOQT\SQLEXPRESS;Initial Catalog=db_CMS;User Id=sa;Password=qwerty;"/>-->
    <!--<add key="cmsString" value= "Data Source=SQL5105.site4now.net;Initial Catalog=db_a70cb1_cms;User Id=db_a70cb1_cms_admin;Password=Orbfocus@2019;"/>-->
	  <!--<add key="cmsString" value= "Data Source=SQL5102.site4now.net;Initial Catalog=db_a70cb1_updatedcms;User Id=db_a70cb1_updatedcms_admin;Password=Orbfocus@2019;"/>-->
    <!--<add key="cmsString" value=  "Data Source=SQL5101.site4now.net;Initial Catalog=db_a70cb1_newcms;User Id=db_a70cb1_newcms_admin;Password=Orbfocus@2019;"/> -->
         <add key="DefaultIPPort" value="587"/>
      <add key="DefaultEnableSSL" value="true"/>
  </appSettings>
</configuration>