<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="SitePath" value="https://localhost:44346"/>
       <add key="DefautConnection" value= "Data Source=db-zyael.database.windows.net;Initial Catalog=db-zyael;User Id=zyael-admin;Password=Orbfocus@2022;TrustServerCertificate=false;Timeout=30;"/>
    <!--<add key="DefautConnection" value= "Data Source=DESKTOP-LAN0JE3\SQLEXPRESS;Initial Catalog=db_Zyael;Trusted_Connection=true;"/>-->
         <add key="DefaultIPPort" value="587"/>
      <add key="DefaultEnableSSL" value="true"/>
  </appSettings>
</configuration>